#search{
    background-color: palevioletred;
}
#search:hover{
    background-color: pink;
}
#filter select{
    border: solid;
    border-color: palevioletred;
}
#filter select:hover{
    background-color: pink;
}
i{
    color: palevioletred;
}
i:hover{
    background-color: pink;
    border-radius: 10px;
}
#database{
    display: flex;
    flex-wrap: wrap;
}

td img{
    height: 10rem;
    max-width: 10rem;
    flex-grow: 1;
    object-fit: cover;
}

#add{
    background-color: palevioletred;
}
#add:hover{
    background-color: pink;
}
#return{
    background-color: palevioletred;
}
#return:hover{
    background-color: pink;
}

