@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

body{
    
}

#landing{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#landing h1{
    font-family: 'Bebas Neue', cursive;
font-family: 'Righteous', cursive;
}